body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-align: center;
  background-color: black;
  opacity: 0.9;

  margin: 0 auto;
}


/* -- Header with Nav Styling ------------- */
#header {
  background-color: black;
  height: 69px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  border-bottom: 1px solid seashell;

  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header nav {
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
  flex-flow: wrap;
}

#header li {
  text-align: right;
  display: inline;
  padding: 0 10px;
}

#header li a {
  color: seashell;
}


/* -- Mission Styling ------------- */
#mission {
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-flow: column;
  justify-content: center;
}

.missionStatement {
  background-color: black;
}

/* -- Tea of the Month ------------- */
#featured {
  width: 1000px;
  height: 800px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-content: center;
}

#featured h2,
#featured p {
  width: 100%;
  max-height:
  margin: 10 auto;
}

.monthlyMenu {
  margin: 10px;

}
.monthlyMenu p {
  font-weight: normal;
  width: 300px;
  margin: 0 auto;
  padding-top: 10px;
}

/* -- Locations ------------- */
#locations {
  background-image: url(../images/img-locations-background.jpg);
  height: 500px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#locations h2{
  width: 100%;
  flex-grow: 1;
  margin: 0;
}
#locations h3 {
  font-size: 20px;
  font-weight: normal;
  line-height: 60px;
  background-color: black;
  opacity: 1;
  height: 260px;
  width: 260px;
  padding: 20px;
  margin: 15px 20px;
}

/* -- Contact Styling ------------- */
#contact {
  height: 200px;
  margin: 0 auto;
}

/* -- Footer ------------- */
#footer {
  margin: 0 auto;
}

#footer h6{
  text-align: left;
  padding: 20px;
}
